body {
    background-color: #e6e6e6;
    color: white;
    padding-inline: 2rem;
    font-family: Arial;
}

header {
    text-align: center;
    background-color: #ffffff;
    width: 95vw;
    color: black;
    justify-self: center;
    text-transform: uppercase;
    width: 50vw;
    border-radius: 8px;
}

main {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

main #sidebar {
    align-self: flex-start;
    padding: 15px;
    background-color: #ffffff;
    color: black;
    border-radius: 8px;
}

main #display-area {
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: 70rem;
    background-color: white;
    border-radius: 8px;
}

#display-area canvas {
    max-width: 90%;
    align-self: center;
}

p {
    font-weight: bold;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

fieldset {
    display: grid;
    gap: 5px;
    border-radius: 8px;
    border: none;
    /*border: #2a2a2a; */
}

input[type="radio"] {
    vertical-align: middle;
    margin: 6px;
}

input {
    border-radius: 8px;
    border: 1px solid black;
}

form button {
    align-self: center;
    font-weight: bold;
    height: 35px;
    width: 100px;
    border-radius: 8px;
    border: 1px solid black;
    text-transform: uppercase;
}


.choices {
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
}

/* Override the selected item background and text color */
.choices__list--multiple .choices__item {
    background-color: #ccc !important; /* grey background */
    color: #000 !important;            /* black text (optional) */
    border: none !important;
}

/* Style for each selected item in the input */
.choices__item.choices__item--selectable {
    background-color: #ccc; /* your custom color */
    color: black;              /* text color */
    border-radius: 4px;
    padding: 4px 8px;
    margin: 2px 4px;
    font-weight: 500;
  }

/* Remove button (the “x” on selected item) */
.choices__item.choices__item--selectable .choices__button {
  color: #ccc;
  opacity: 0.8;
}

.choices__list--single .choices__item {
    background-color: #ccc !important; /* grey background */
    color: #000 !important;            /* black text (optional) */
    border: none !important;
    width: 80% !important;
    border-radius: 20px;
}