/*TODO: style header, sidebar, display-area*/
main {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

#sidebar {
    /*background-color: red;*/
}

h2 {
    text-align: center;
}

header {
    text-align: center;
}


fieldset {
    display:grid;
}

#display-area {
    /*background-color: blue;*/
}

button {
    font-weight: bold;
    height: 35px;
    width: 100px;
}

/* Override the selected item background and text color */
.choices__list--multiple .choices__item {
    background-color: #ccc !important; /* grey background */
    color: #000 !important;            /* black text (optional) */
    border: none !important;
}